.appbar {
  box-shadow: none !important;
  color: black;
  background-color: white !important; /* Flat white background */
  border: 1px solid #e0e0e0; /* Slim light gray border */
}

.navbar-container {
  box-shadow: none;
  color: white;
  background-color: white !important;
}

.nav-items {
  background-color: white !important;
  display: none;
  color: black !important;
}

.nav-button {
  color: black !important;
}

.nav-button:hover {
  color: #333 !important;
}

@media (min-width: 600px) {
  .nav-items {
    display: flex;
    margin-right: 16px;
  }
}

.logo-container {
  flex-grow: 1;
  text-align: center;
}

.brand-logo {
  width: 180px;
  height: 70px;
  padding: none;
}

.people-icon {
  color: black;
  font-size: 24px;
  margin-right: 32px;
}

.search-icon {
  margin-right: 32px;
  color: black;
  font-size: 24px;
}
